! Xresources file, work in progress.

!#include ".Xresources.d/st"
!#include ".Xresources.d/rxvt-unicode"
!#include ".Xresources.d/xterm"
!#include ".Xresources.d/xterm-256color"
!#include ".Xresources.d/fonts"
!#include ".Xresources.d/xscreensaver"
!#include ".Xresources.d/Solarized-dark"

! Manually adding this single xterm settings to the main Xresources file to test sixel-xterm ffmpeg.
XTerm*decTerminalID: vt340
XTerm*sixelScrolling: true
XTerm*regisScreenSize: 1920x1080
XTerm*numColorRegisters: 256

! Adding this in 5-5-20 based off of that one Arch forum post for ncmpcpp.
! https://bbs.archlinux.org/viewtopic.php?pid=1663852#p1663852
! /-----------------------\
! | Created by fs0ciety   |
! | https://fsociety.info |
! | 2016                  |
! \-----------------------/

#include </home/drew/.Xresources.d/themes/synthwave>


Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:PragmataProMono:style=bold:pixelsize=12
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              0
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           35
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true

! Colors
*background:   bg
*foreground:   fg
*cursorColor:  cyn

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht
